@model IEnumerable<Fall2025_Project3_pslumpkins.Models.ActorMovie>

@{
    ViewData["Title"] = "Actor-Movie Relationships";
}

<h1>Actor-Movie</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="">
    <thead>
        <tr>
            <th>Actor</th>
            <th>Movie</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>@item.Actor?.Name</td>
           <td>@item.Movie?.Title</td>

           <td>
               <a asp-action="Details" asp-route-actorId="@item.ActorId" asp-route-movieId="@item.MovieId">Details</a> |
               <a asp-action="Edit" asp-route-actorId="@item.ActorId" asp-route-movieId="@item.MovieId">Edit</a> |
               <a asp-action="Delete" asp-route-actorId="@item.ActorId" asp-route-movieId="@item.MovieId"></a>
           </td>
        </tr>
}
    </tbody>
</table>
